@section stylecss{
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bootstrap.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/responsive.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
}



    <div class="border-frame ">
        <div class="button-container ">
            <button>   <a href="/Add/add"> Add Products</a></button>
            <button> <a href="/Remove/remove"> Remove Products</a></button>
            <button><a href="/Update/update"> Update Products</a></button>
</div>
    </div>
